.authorization {
  display: grid;
  grid-template-columns: 7fr 9fr;
  height: 100vh;
}

.info h2 {
  margin-bottom: 60px;
}

.info, .workspace {
  display: flex;
  flex-direction: column;
}

.workspace {
  padding: 80px 240px;
  justify-content: flex-start;
  overflow-y: auto;
}

.info {
  padding: 80px 80px 80px 240px;
  background-color: #F3F5F7;
  justify-content: space-between;
}

.workspace .formTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.workspace .formBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace h2 {
  font-size: 32px;
}

.workspace h3 {
  font-size: 28px;
  margin-bottom: 16px;
}