.link {
  color: #0044CC;
  cursor: pointer;
  position: relative;
  display: inline;
}

.tooltip {
  visibility: hidden;

  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;

  max-width: 150px;
  margin-left: 10px;

  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 8px;
  padding: 8px 12px;
  line-height: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  left: -4px;
  background-color: #192733;
  padding: 4px;
  z-index: 1;
}

.link:hover .tooltip {
  visibility: visible;
}