.filter {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #0044CC;
  color: #0044CC;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.filter button img {
  line-height: 1;
}

.tooltip {
  visibility: hidden;

  position: absolute;
  left: 50%;
  top: calc(100% + 4px);
  transform: translate(-50%, 0);
  z-index: 2;

  max-width: 210px;
  margin-left: 10px;

  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 8px;
  padding: 8px 12px;
  line-height: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -4px;
  transform: translate(-50%, 0) rotate(45deg);
  left: 50%;
  background-color: #192733;
  padding: 4px;
  z-index: 1;
}

.filter:hover .tooltip {
  visibility: visible;
}